/* header */
.header-wrapper{
margin-left: 60px;
margin-right: 60px;
padding-left: 15px;
padding-right :15px;
}
.header-wrapper a{
 padding: 24px 20px;
 letter-spacing: normal;
 cursor: pointer;
}
.fa-chevron-down{
    font-size: 10px;
    margin-left: 5px;
}
.list1{
    margin-left:45px ;
    color: var(--text-color);
    font-size :17px;
    font-weight :600;
    
}
.list2{
    color: var(--text-color);
    font-size :17px;
    font-weight :600;

}
.bar{
    position: relative;
    color: var(--text-color);
    font-size: 20px;
    display: none;
}
.header-wrapper a:hover{
    opacity: 0.6;
}


.header-wrapper{
    padding-top: 16px;
    margin-bottom: -100px;
    z-index: 9;   
}
/* Banner Css Start */
.banner{
    background-image: url(../images/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 25% 25%;
    z-index: -1;
    -webkit-border-radius: 0 0 25% 25%;
    -moz-border-radius: 0 0 25% 25%;
    -ms-border-radius: 0 0 25% 25%;
    -o-border-radius: 0 0 25% 25%;
    margin-bottom:-100px ;
}
.banner-wrapper{
    text-align: center;
    padding: 13.8% 0;
    color: var(--text-color);
}
.banner-wrapper h1{
    position: relative; 
    display: inline-block; 
    padding: 0 25%;
    color: var(--text-color);
    font-weight: 600;
    letter-spacing: normal;
    line-height:clamp(43px,5vw,69px);
}
.banner-wrapper h1::after {
    content: ""; 
    display: block; 
    position: absolute; 
    bottom: 0; 
    right: 385px; 
    background-image: url(../images/line.svg); 
    background-size: cover; 
    background-repeat: no-repeat;
    width: 15%; 
    height: 6%;
}
.banner-wrapper p{
font-weight: 500;
padding: 2% 28%;
font-size: 24px;
line-height: 2rem;
color: var(--text-color);
}
.banner-wrapper button{
       border-radius: 8px;
       font-weight: 600;
       border:none;
       background-color: var(--text-color);
       margin-bottom: 20px;
       transition: transform 0.6s all ease-in-out;
       -webkit-transition: transform 0.6s all ease-in-out;
       -moz-transition: transform 0.6s all ease-in-out;
       -ms-transition: transform 0.6s all ease-in-out;
       -o-transition: transform 0.6s all ease-in-out;
}
.banner-wrapper button:hover{
    transform: translateY(-5px);

}
/* cards */
.card-wrapper{
    gap: clamp(10px,5vw,30px)
}
.card-body{
    background-color: var(--text-color);
    border-radius:8px 8px ;
    box-shadow: rgba(30, 34, 40, 0.07) 0px 5px 35px 0px;
   
    padding:20px 40px ;
    margin-bottom: 20px;

}
.card-body .icon{
    font-size: 30px;
    margin-bottom :10px;
}
.card-body h4{
font-weight: 600;
height :29px;
letter-spacing :normal;
line-height: 29px;
margin-bottom :10px;
}
.card-body p{
font-weight: 500;
line-height: 28.9px;
margin-bottom: 10px;
}
.fa-arrow-right{
    margin-left: 5px;
    font-size: 14px;
}

.link{
    font-weight: 600;
    line-height: 28.9px;
    margin-bottom: 10px;
    letter-spacing: normal;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
   ;

    }
  
.link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor; 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;}

.link:hover::after {
    transform: scaleX(1);
            transform-origin: left;
          } 
/*   why us css */
.why-us{ 
    padding-top: 100px;
    padding-bottom: 50px;
}
.why-us-wrapper{
    text-align: center;
}
.why-us-wrapper h3{
    padding: 10px 200px;
    position: relative; 
    display: inline-block; 
}
.why-us-wrapper h3::after {
    content: ""; 
    display: block; 
    position: absolute; 
    top: 60px; 
    right: 330px; 
    background-image: url(../images/line.svg); 
    background-size: contain; 
    background-repeat: no-repeat;
    width: 25%; 
    height: 6%;
}
.grid{
    padding: 50px 50px;
}
.box{
   text-align: start;
    margin-bottom: 10px;
    width: 300px;
}
.active{
    background-color: var(--grey);
}
.box h4{
   font-weight: 600;
   line-height: 29px;
   margin-bottom :5px;

}
.box p{
    font-weight: 500;
    line-height: 25px;
   padding-bottom :10px;
    font-weight: 500;
 }
.box i{
    font-size: 50px;
    padding-top: 30px;
    padding-left: 20px;
}
.text{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box:hover{
    background-color: var(--grey);
}
/* ideas section */
.bg{ 
    border-radius: 50%; 
    background-color: rgb(251, 228, 241);
     width: 20px; height: 20px; 
     text-align: center; 
     padding: 5px; 
}
.ideas-text{
   padding-left: 30px;
   padding-top: 20px;
   padding-right: 10px
}
.ideas-text h4{
font-size: 27px;
font-weight: 600;
line-height :36.45px;
margin-bottom :15px;

}
.ideas-text button{
    background-color: var(--accent-color);
    color:var(--text-color);
    border-radius:8px;
    margin:30px 0;
    transition: transform 0.6s all ease-in-out;
    -webkit-transition: transform 0.6s all ease-in-out;
    -moz-transition: transform 0.6s all ease-in-out;
    -ms-transition: transform 0.6s all ease-in-out;
    -o-transition: transform 0.6s all ease-in-out;
}
.ideas-text button:hover{
 transform: translateY(-5px);

}
.point li{
    font-size: 17px;
    font-weight: 500;
    line-height :28.9px;
    margin-bottom: 10px;
    color: var(--secondary-color);
 
}

.ideas-wrapper img{
   
    height: 410px;
   max-width:100% ;
}
.ideas-text p{
 
    font-weight: 500;
    line-height :28.9px;
    margin-bottom :15px;
    }
    /* feedback */
.feedback{
    background-color: 	#F0F0F0;
    padding: 0 100px;
}
.time-section{
    
    padding-bottom: 350px;
    margin-bottom: -200px;
}
.time-section h2{
    padding-top: 80px;
}
    .time-section h3{
        padding-top: 20px;
    }

.progress h4 {
text-align: center;
padding-top: 80px;
font-size: 24px;
}
.circle-progress {

    width: 200px;
    height: 200px;
    position: relative;
  
}

.circle-progress-bar {
    width: 100%;
    height: 100%;
    border: 10px solid #ccc;
    border-top: 10px solid var(--orange-color);
   border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 0;
    animation: circle-progress-animation 2s linear forwards;
 
}

.circle-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left:0;
    font-size: 24px;
    font-weight: bold;
}

@keyframes circle-progress-animation {
    0% {
        transform: rotate(0deg);
    }
    95% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
    100% {
        transform: rotate(360deg);
    }
}

.feedback-wrapper{
    background-color: var(--text-color);
    border-radius:8px ;
    -webkit-border-radius:8px ;
    -moz-border-radius:8px ;
    -ms-border-radius:8px ;
    -o-border-radius:8px ;
    box-shadow: rgba(30, 34, 40, 0.07) 0px 5px 35px 0px;
}
.feedback-wrapper img{
    max-width: 100%;

}
.stars{
    margin-bottom: 15px;
margin-top: 100px;
font-size: 18px
}

.feedback-text .paragraph{
    font-size: 21px;
    font-weight: 500;
    line-height: 35.7px;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px 100px;
}
.feedback-text h5{
    font-weight: 600;
    line-height : 28.5px;
}
.job-title{
    font-weight: 500;
    padding-bottom:60px;
}
/* projects css */
.projects{ 
    padding-top: 100px;
    padding-bottom: 50px;
}
.project-wrapper{
    text-align: center;
}
.project-wrapper h3{
    padding: 10px 200px;
    position: relative; 
    display: inline-block; 
}
.project-display h4{
    font-size:clamp(10px,5vw ,20px);
    font-weight: 600;
}
.project-display img{
    max-width: 90%;
    padding-top: 40px;
    padding-bottom: 30px;
}

/* footer css */
.list{
    padding-bottom: 20px;
}
.list h5{
    padding-bottom: 10px;
}
.list p{
    padding-bottom: 10px;
    padding-right: 25px;
    line-height:28.9px;
    cursor: pointer;
}
.social-links{
    gap:10px;
    font-size: 20px;
    padding-top: 10px;
}
.footer-logo p{
    line-height:28.9px;
    font-weight: 500;
    padding-right: 30px;
    justify-content: center;}

.footer-logo{
    padding-bottom: 10px;
}

.signup input{
   height: 55px;
   width: 200px;
   border: none;
   box-shadow: rgba(30, 34, 40, 0.07) 0px 5px 35px 0px;
   border-radius: 10px 0 0 10px;
   -webkit-border-radius: 10px 0 0 10px;
   -moz-border-radius: 10px 0 0 10px;
   -ms-border-radius: 10px 0 0 10px;
   -o-border-radius: 10px 0 0 10px;
   padding-left: 10px;
   padding-top: 30px;
}
.signup p{
    padding-top: 10px;
    line-height:28.9px;
   
}
.signup button{
    padding: 8px 10px;
    background-color: var(--accent-color);
    border: none;
    box-shadow: rgba(30, 34, 40, 0.07) 0px 5px 35px 0px;
    color: var(--text-color);
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    cursor: pointer;
}
.signup button:hover{
    opacity: 0.7;
}
.footer p:hover{
    opacity: 0.6;

}
/* community*/
.community-wrapper{
    background-image: url(../images/bg1.png);
    color: var(--text-color);
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.community-wrapper h2{
    color: var(--text-color);
}
.community-wrapper h3{
    padding: 10px 200px;
    position: relative; 
    display: inline-block; 
}
.community-wrapper button{
    border-radius: 8px;
    font-weight: 600;
    border:none;
    background-color: var(--text-color);
    margin-bottom: 20px;
    margin-top: 10px;
    transition: transform 0.6s all ease-in-out;
    -webkit-transition: transform 0.6s all ease-in-out;
    -moz-transition: transform 0.6s all ease-in-out;
    -ms-transition: transform 0.6s all ease-in-out;
    -o-transition: transform 0.6s all ease-in-out;
}
.community-wrapper button:hover{
 transform: translateY(-5px);

}
/* MEDIA QUERIES */
@media screen and (max-width: 1019px){
    .list1{
        display: none;
        }
        
        .list2{
            display: none;
            }
        .bar{
            display:inline-block;
            font-size: 24px;
            transform:translateX(30px) ;
            -webkit-transform:translateX(30px) ;
            -moz-transform:translateX(30px) ;
            -ms-transform:translateX(30px) ;
            -o-transform:translateX(30px) ;
  }}


/* 992 */
@media screen and (max-width: 992px){
    .card-body {
    padding: 15px 15px;
    } 
}

/* 768 */
 @media screen and (max-width: 768px) {

.banner-wrapper button{
 margin-bottom: 50px;
}
.header-wrapper{
 margin-left: 20px;
}
.banner-wrapper h1{
padding-left: 25%;
padding-right: 25%;
padding-bottom: 20px;
padding-top: 20px;

}
.banner-wrapper h1::after {
    bottom: 20px; 
    right: 240px; 
    height: 4%;
}
.banner-wrapper p{
  padding-left:20%;
  padding-right:20%;
  padding-top: 0;
  padding-bottom: 20px;
  

}
.card-wrapper{
    padding: 0 50px;
    
    
}
.card-wrapper .card-body{
    flex: 50%;
}


.why-us-wrapper h3{
    padding: 10px 0;}
    .why-us-wrapper h3::after {
        top: 50px; 
        right: 200px;}
.box{
     width: 600px;
    
}
.ideas-wrapper{
    flex-direction: column;
    align-items: center;
}
.ideas-wrapper img{
    max-width: 100%;
}
.ideas-text{
    padding: 30px 100px;
}
.time-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.progress{
    flex-direction: column;
    
}
.feedback-wrapper{
    flex-direction: column;
}
.project-wrapper h3{
    padding: 10px 0;}
    .community-wrapper h3{
        padding: 10px 50px;

    }

}



@media screen and (max-width: 425px) {
.btn{
 padding: 18px 10px;
}
.banner-wrapper h1{
padding-left: 50px;
padding-right: 50px;
padding-top: 50px;

}
.banner-wrapper p{
    padding-left:10%;
    padding-right:10%;
    padding-top: 5%;


 }
 .banner-wrapper h1::after {
    bottom: 20px; 
    right: 100px; 
    height: 4%;
    width: 22%;
}
.banner-wrapper{
padding: 25% 0;
} 

.why-us-wrapper h3::after {
        top: 35px; 
        right: 180px;}
        .ideas-wrapper img{
            max-width: 100%;
          
        }
        .ideas-text{
            padding: 0 10px;
        }

        .ideas-text{
            padding-left: 20px;
            padding-right: 20px;
        }
        .time-section h3{
            padding-top: 10px;
            padding-bottom: 20px;
        }
        .feedback-text.paragraph {

            padding: 10px 10px;
        }
        .project-display{
            flex-direction: column;
        }

        .footer-list{
            flex-direction: column;
           
            text-align: center;
            padding-left: 30px;
        }
        .list p{
            
            padding-right: 0;}
        .input{
            margin-left: 38px;
            margin-top: 20px;
            
           
        }
        .social-links{
           padding-left: 100px;
        }
}
