/* header */
.header-wrapper{
margin-left: 60px;
margin-right: 60px;
padding-left: 15px;
padding-right :15px;
}
.header-wrapper a{
 padding: 24px 20px;
 letter-spacing: normal;
 cursor: pointer;
}
.fa-chevron-down{
    font-size: 10px;
    margin-left: 5px;
}
.list1{
    margin-left:45px ;
    color: var(--text-color);
    font-size :17px;
    font-weight :600;
    
}
.list2{
    color: var(--text-color);
    font-size :17px;
    font-weight :600;

}
.bar{
    position: relative;
    color: var(--text-color);
    font-size: 20px;
    display: none;
}
.header-wrapper a:hover{
    opacity: 0.6;
}


.header-wrapper{
    padding-top: 16px;
    margin-bottom: -100px;
    z-index: 9;   
}
/* Banner Css Start */
.banner{
 background: linear-gradient(91.1deg, rgb(57, 31, 105) -2.3%, rgb(115, 43, 155) 44.4%, rgb(231, 75, 184) 103.4%); 
    border-radius: 0 0 25% 25%;
    z-index: -1;
    -webkit-border-radius: 0 0 25% 25%;
    -moz-border-radius: 0 0 25% 25%;
    -ms-border-radius: 0 0 25% 25%;
    -o-border-radius: 0 0 25% 25%;
    margin-bottom:-150px ;
    height: 700px;
}
.banner-wrapper{
    text-align: center;
    padding: 13.8% 0;
    color: var(--text-color);
}
.banner-wrapper h1{
    position: relative; 
    display: inline-block; 
    padding: 0 25%;
    color: var(--text-color);
    font-weight: 600;
    letter-spacing: normal;
    line-height:clamp(43px,5vw,69px);
}
.banner-wrapper h1::after {
    content: ""; 
    display: block; 
    position: absolute; 
    bottom: 0; 
    right: 385px; 
    background-image: url(../images/line.svg); 
    background-size: cover; 
    background-repeat: no-repeat;
    width: 15%; 
    height: 6%;
}
.banner-wrapper p{
font-weight: 500;
padding: 2% 28%;
font-size: 24px;
line-height: 2rem;
color: var(--text-color);
}
.banner-wrapper button{
       border-radius: 8px;
       font-weight: 600;
       border:none;
       background-color: var(--text-color);
       margin-bottom: 20px;
       position: relative;
       transition: 0.5s;

}
.banner-wrapper button:hover{
    transform: translateY(-5px);

}
/* cards */
.card-wrapper{
    gap: clamp(10px,5vw,30px)
}
.card-body{
    background-color: var(--text-color);
    border-radius:8px 8px ;
    box-shadow: rgba(30, 34, 40, 0.07) 0px 5px 35px 0px;
    padding:20px 40px ;
    margin-bottom: 20px;
    height: 300px;
}
.card-body .icon{
    font-size: 30px;
    margin-bottom :10px;
    position: relative;
    transition: 0.5s;
}
.card-body .icon:hover{
    transform: translateY(-5px);
}
.card-body h4{
font-weight: 600;
height :29px;
letter-spacing :normal;
line-height: 29px;
margin-bottom :10px;
}
.card-body p{
font-weight: 500;
line-height: 28.9px;
margin-bottom: 10px;
}
.fa-arrow-right{
    margin-left: 5px;
    font-size: 14px;
}

.link{
    font-weight: 600;
    line-height: 28.9px;
    margin-bottom: 20px;
  
    letter-spacing: normal;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
   ;

    }
  
.link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor; 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;}

.link:hover::after {
    transform: scaleX(1);
            transform-origin: left;
          } 
/*   why us css */
.why-us{ 
    padding-top: 100px;
    padding-bottom: 50px;
}
.why-us-wrapper{
    text-align: center;
}
.why-us-wrapper h3{
    padding: 10px 200px;
    position: relative; 
    display: inline-block; 
}
.why-us-wrapper h3::after {
    content: ""; 
    display: block; 
    position: absolute; 
    top: 60px; 
    right: 330px; 
    background-image: url(../images/line.svg); 
    background-size: contain; 
    background-repeat: no-repeat;
    width: 25%; 
    height: 6%;
}
.grid{
    padding: 50px 50px;
}
.box{
   text-align: start;
    margin-bottom: 10px;
    width: 300px;
}

.box h4{
   font-weight: 600;
   line-height: 29px;
   margin-bottom :5px;

}
.box p{
    font-weight: 500;
    line-height: 25px;
   padding-bottom :10px;
    font-weight: 500;
 }
.box i{
    font-size: 50px;
    padding-top: 30px;
    padding-left: 20px;
    position: relative;
    transition: 0.5s;
}
.box i:hover{
    transform: translateY(-5px);
}
.text{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ideas section */
.bg{
    border-radius: 50%;
    background-color: rgb(251, 228, 241);
    width: 12px;
    height: 12px;
    text-align: center;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.bg i{
    margin: 2px 2px;
}
.ideas-text{
   padding-left: 50px;
   padding-right: 10px
}
.ideas-text h4{
font-size: 27px;
font-weight: 600;
line-height :36.45px;
margin-bottom :15px;

}
.ideas-text button{
    background-color: var(--accent-color);
    color:var(--text-color);
    border-radius:8px;
    margin:30px 0;
    position: relative;
    transition: 0.5s;
}
.ideas-text button:hover{
 transform: translateY(-5px);

}
.point li{
    font-size: 17px;
    font-weight: 500;
    line-height :28.9px;
    margin-bottom: 10px;
    color: var(--secondary-color);
 
}

.ideas-wrapper img{
   margin-top: 15px;
   max-width:100% ;
   border-radius:9px ;
   position: relative;
   transition: 0.5s;
  

}
.ideas-wrapper img:hover{
    opacity: 0.6;

   
}
.ideas-text p{
 
    font-weight: 500;
    line-height :28.9px;
    margin-bottom :20px;
    }
    /* feedback */
.feedback{
    background-color: 	#F0F0F0;
    padding-top: 78px ;
    padding-left: 100px;
    padding-right: 100px;
}
.time-section{
    text-align: center;
    padding-bottom: 50px;
}
.time-section h2{
    padding-top: 80px;
    font-weight: 600
}
    .time-section h3{
        padding-top: 20px;
        font-weight: 600;
        padding:0 100px;
    }
/* .progress{
    overflow: hidden;
    height: 100px;
    margin-top: 100px;
   
}
.progress h4 {
text-align: center;
padding-top: 80px;
font-size: 24px;
}
.circle-progress {

    width: 200px;
    height: 200px;
    position: relative;
    
  
}

.circle-progress-bar {
    width: 100%;
    height: 100%;
    border: 10px solid #ccc;
    border-top: 10px solid var(--orange-color);
   border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: circle-progress-animation 2s linear forwards;
    margin-left: 50px;
 
}

.circle-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    left:50px;
    font-size: 24px;
    font-weight: bold;
}

@keyframes circle-progress-animation {
    0% {
        transform: rotate(0deg);
    }
    95% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
    100% {
        transform: rotate(360deg);
    }
} */

.feedback-wrapper{
    background-color: var(--text-color);
    border-radius:8px ;
    -webkit-border-radius:8px ;
    -moz-border-radius:8px ;
    -ms-border-radius:8px ;
    -o-border-radius:8px ;
    box-shadow: rgba(30, 34, 40, 0.07) 0px 5px 35px 0px;
  
}
.feedback-wrapper img{
    max-width: 100%;
    position: relative;
    transition: 0.5s;
}
.feedback-wrapper img:hover{
   opacity: 0.6;
}
.stars{
    margin-bottom: 15px;
margin-top: 100px;
font-size: 18px
}

.feedback-text .paragraph{
    font-size: 21px;
    font-weight: 500;
    line-height: 35.7px;
   text-align: center;
    padding: 20px 100px;
}
.feedback-text h5{
    font-weight: 600;
    line-height : 28.5px;
}
.job-title{
    font-weight: 500;
 
}
/* projects css */
.projects{ 
    padding-top: 150px;
    padding-bottom: 50px;
}
.project-wrapper{
    text-align: justify;
}
.project-wrapper h3{
    padding: 10px 150px;

    font-weight: 600;
}
.project-display h4{
    font-size:clamp(10px,5vw ,20px);
    font-weight: 600;
}
.project-display p{
    font-weight: 600;
    font-size: 15px;
    padding-top: 10px;
}
.project img{
    max-width: 90%;
    padding-top: 40px;
    padding-bottom: 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position: relative;
    transition: 0.5s;

}
.project img:hover{
opacity: 0.6};



/* footer css */
.list{
    padding-bottom: 20px;
}
.list h5{
    padding-bottom: 10px;
}
.list p{
    padding-bottom: 10px;
    padding-right: 25px;
    line-height:28.9px;
    cursor: pointer;
    font-weight: 500;
}
.social-links{
    gap:10px;
    font-size: 20px;
    padding-top: 10px;
    cursor: pointer;
    position: relative;
    transition: 0.9s;
}
.social-links i:hover{
  transform: translateY(10px);
   
}

.footer-logo p {
    line-height:28.9px;
    font-weight: 500;
    padding-right: 30px;
    justify-content: center;}

.footer-logo{
    padding-bottom: 10px;
}
.contact-list a{
   list-style: none;
   color: var(--secondary-color);
}
.signup input{
   height: 55px;
   width: 200px;
   border: none;
   box-shadow: rgba(30, 34, 40, 0.07) 0px 5px 35px 0px;
   border-radius: 10px 0 0 10px;
   -webkit-border-radius: 10px 0 0 10px;
   -moz-border-radius: 10px 0 0 10px;
   -ms-border-radius: 10px 0 0 10px;
   -o-border-radius: 10px 0 0 10px;
   padding-left: 10px;
   padding-top: 30px;
   margin-top: 20px;

}
.signup p{
    padding:20px 0;
    line-height:28.9px;
    font-weight: 600;
   
}
.signup button{
    padding: 8px 10px;
    background: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    border: none;
    box-shadow: rgba(30, 34, 40, 0.07) 0px 5px 35px 0px;
    color: var(--text-color);
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    cursor: pointer;
    margin-top: 20px;
}
.signup button:hover{
    opacity: 0.7;
}
.footer .list-link p:hover{
    opacity: 0.6;

}
/* community*/
.community-wrapper{
    background: linear-gradient(91.1deg, rgb(57, 31, 105) -2.3%, rgb(115, 43, 155) 44.4%, rgb(231, 75, 184) 103.4%); 
    color: var(--text-color);
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.community-wrapper h2{
    color: var(--text-color);
}
.community-wrapper h3{
    padding: 10px 150px;
    position: relative; 
    display: inline-block;
    font-weight: 500; 
}
.community-wrapper button{
    border-radius: 8px;
    font-weight: 500;
    background-color: var(--text-color);
    border:none;
    color: var(--primary-color);
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
    transition: 0.5s;
}
.community-wrapper button:hover{
 transform: translateY(-5px);
}
/* DIFFERNCE SECTION */
 .image1 img{
    max-width: 96.5%;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 20px;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

   
}
.image2 img{
    max-width: 49%;
    border-radius: 10px 10px 10px 10px;
    padding-right: 10px;
 
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.section-text{
    padding-left: 50px;
    padding-top: 20px;
}
.section-text h3{
 font-size: 32px;
 line-height :37.242px;
 font-weight: 600;
 padding-top: 20px;
 padding-bottom: 10px;
}

.difference-wrapper img:hover{
opacity: 0.6};
.difference-wrapper h3{
   padding-top: 50px;
    font-weight: 400;
}
.grid-display{
    margin-top: 20px;
}

.grid-display h4 {
    font-weight: 600;
    line-height: 29px;
    margin-bottom :5px;
    font-size: 20px;
}
.grid-display p{
    font-weight: 500;
    line-height: 25px;
   padding-bottom :50px;
    font-weight: 500;
 }
.grid-display i{
    font-size: 30px;
    padding-right: 20px;
    padding-top: 6px;
    position: relative;
    transition: 0.5s;
}
.grid-display i:hover{
    transform: translateY(-10px);
}
  

/* MEDIA QUERIES */
@media screen and (max-width: 1019px){
    .list1{
        display: none;
        }
        
        .list2{
            display: none;
            }
        .bar{
            display:inline-block;
            font-size: 24px;
            transform:translateX(30px) ;
            -webkit-transform:translateX(30px) ;
            -moz-transform:translateX(30px) ;
            -ms-transform:translateX(30px) ;
            -o-transform:translateX(30px) ;
  }
}


/* 992 */
@media screen and (max-width: 992px){
    .card-body {
    padding: 15px 15px;
    } 
}

/* 768 */
 @media screen and (max-width: 768px) {
.container{ max-width:700px ;}
.difference-wrapper h2{
    padding-top: 40px;
}
.banner-wrapper button{
 margin-bottom: 50px;
}
.header-wrapper{
 margin-left: 20px;
}
.banner-wrapper h1{
padding-left: 25%;
padding-right: 25%;
padding-bottom: 20px;
padding-top: 20px;

}
.banner-wrapper h1::after {
    bottom: 20px; 
    right: 240px; 
    height: 4%;
}
.banner-wrapper p{
  padding-left:20%;
  padding-right:20%;
  padding-top: 0;
  padding-bottom: 20px;
  

}
.card-wrapper{
    padding: 0 50px;
    
    
}
.card-wrapper .card-body{
    flex: 50%;
}
.why-us-wrapper h3{
    padding: 10px 0;}
    .why-us-wrapper h3::after {
        top: 50px; 
        right: 200px;}
.box{
     width: 600px;
    
}
.ideas-wrapper{
    flex-direction: column;
    align-items: center;
}
.ideas-wrapper img{
    max-width: 100%;
}
.ideas-text{
    padding: 10px 100px;
}
.time-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.feedback-wrapper{
    flex-direction: column;
}
.project-wrapper h3{
    padding: 10px 0;}
    .community-wrapper h3{
        padding: 10px 50px;

    }
    .difference-wrapper{
        flex-direction: column;

    }
    .image2 img{
        max-width: 100%;
        padding-right: 20px;
 }
 .feedback-text p{
   padding-bottom: 30px;
}

}



@media screen and (max-width: 425px) {
    .container{
        max-width: 390px;
    }
.btn{
 padding: 18px 10px;
}
.banner-wrapper h1{
padding-left: 50px;
padding-right: 50px;
padding-top: 50px;

}
.banner-wrapper p{
    padding-left:10%;
    padding-right:10%;
    padding-top: 5%;


 }
 .banner-wrapper h1::after {
    bottom: 20px; 
    right: 100px; 
    height: 4%;
    width: 22%;
}
.banner-wrapper{
padding: 25% 0;
} 

.why-us-wrapper h3::after {
        top: 35px; 
        right: 180px;}
        .ideas-wrapper img{
            max-width: 100%;
          
        }
        .ideas-text{
            padding: 0 10px;
        }

        .ideas-text{
            padding-left: 20px;
            padding-right: 20px;
        }
        .time-section h3{
            padding-top: 10px;
            padding-bottom: 20px;
        }
        .feedback-text.paragraph {

            padding: 10px 10px;
        }
        .project-display{
            flex-direction: column;
        }

        .footer-list{
            flex-direction: column;
           
            text-align: center;
           }
       
       
        .input{
            margin-left: 80px;
            margin-top: 10px;
            
           
        }
        .social-links{
           padding-left: 150px;
        }
        .padding-100px{
            padding: 50px 0px;
        
        }
        .projects{ 
            padding-top: 80px;
           
        }
        .feedback-text .paragraph {

            padding: 0px 50px;
        }
        .stars {
            margin-top: 50px;}
            .job-title{
                padding-bottom: 20px;
             
            }
            .time-section h3{
           padding:0 10px;
            }
            .feedback{
                background-color: 	#F0F0F0;
                padding-top: 18px ;
                padding-left: 40px;
                padding-right: 40px;
            }
            .difference-wrapper{
                flex-direction: column;
            }
            .image2{
                flex-direction: column;
               
            }
            .images{
                padding-left: 15px;
            }
            .image2 img{
                max-width: 95%;
            padding-bottom: 10px;}
            .section-text{
                text-align: justify;
                padding-left: 15px;
                padding-right: 5px;
            }
            .grid-display{
                flex-direction: column;
            }
            .grid-display p{
          
               padding-bottom :50px;
               
             }
            .padding-bottom{padding-bottom: 0;}
            .project-wrapper{
                text-align: center;
            }
        }
           
            
